@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply flex-initial h-screen overflow-hidden;
  }
  body {
    @apply h-full;
  }
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
  hr {
    @apply border border-slate-200 ;
  }
  main {
    @apply flex h-full max-h-full border-4 border-cyan-500;
  }
  header {
    @apply bg-header-color py-[18px] px-[30px]
  }
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  #app {
    @apply flex flex-col h-screen
  }
}

@layer components {
  .button-class {
    @apply w-full bg-white text-mid-neutral-200 text-left p-4 font-bold text-[16px] capitalize hover:bg-success-bg hover:text-dark-neutral-500 hover:cursor-pointer focus:bg-success-bg focus:text-dark-neutral-500 duration-500
  }
  .text-nav-color {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
  }

  [data-pc-section="box"] {
    @apply border border-gray-300
  }

  #app {
    @apply h-full;
  }

  /* [for="ms-cities"] {
    margin-top: -6px;
  } */
  
}
