@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply relative h-screen overflow-hidden;
  }
  body {
    @apply h-screen flex items-center justify-center;
  }
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
  hr {
    @apply border border-slate-200 ;
  }
  main {
    @apply flex h-full;
  }
  header {
    @apply bg-header-color py-4 px-8
  }
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .button-class {
    @apply w-full bg-white text-mid-neutral-200 text-left font-bold text-[16px] hover:text-dark-neutral-500 capitalize p-4 hover:cursor-pointer duration-300
  }
  #app {
    @apply flex flex-col w-full h-full overflow-hidden;
  }
  .text-nav-color {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
  }
  [data-pc-section="box"] {
    @apply border border-gray-300
  }
  [data-pc-section="option"], [data-pc-section="itemlabel"] {
    @apply capitalize
  }
  
}
